#kontakty {
    padding-top: 1rem;
    padding-bottom: 10rem;
    p {
        font-size: 1.4rem;
    }
    @include media-breakpoint-up(md) {
        p {
            font-size: 1.6rem;
        }
	padding-top: 3rem;
    }
    p#address {
        font-size: 0.8em;
    }
}
