#program {
    padding-top: 1rem;
    padding-bottom: 13rem;
    h1 {
	text-align: center;
    }
    dl {
        font-size: 1.4rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 3rem;
    }
    dl {
        display: grid;
        grid-template-columns: max-content auto;
    }
    dt {
        grid-column-start: 1;
    }
    dd {
        grid-column-start: 2;
        margin-left: 1rem;
    }
}
